<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css"></link>
    <link th:href="@{/css/layout.css}" rel="stylesheet" type="text/css"></link>
    <link th:href="@{/css/bootstrap-theme.css}" rel="stylesheet" type="text/css"></link>
    <link th:href="@{/css/dataTables.bootstrap.css}" rel="stylesheet" type="text/css"></link>
    <link th:href="@{/css/font-awesome.css}" rel="stylesheet" type="text/css"></link>
    <link th:href="@{/css/jquery-ui.css}" rel="stylesheet" type="text/css"></link>
    <link th:href="@{/css/new-style.css}" rel="stylesheet" type="text/css"></link>
    <link th:href="@{/css/select.dataTables.min.css}" rel="stylesheet" type="text/css"></link>
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css"></link>
    <link th:href="@{/css/style-fix.css}" rel="stylesheet" type="text/css"></link>
    <link th:href="@{/css/sweetalert2.css}" rel="stylesheet" type="text/css"></link>
</head>
<body style="background-color: #d1e0e0">
<div class="container">
    <form class="form-new" method="post" enctype="multipart/form-data">
        <div class="row form-group">
            <div class="input-group">
                <h1>Login</h1>
                <label class="col-sm-12 control-label" style="background-color: red;display: none"
                       id="error"></label>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-sm-12">
                <input type="text" class="form-control" id="username" name="username" placeholder="Username">
            </div>
        </div>
        <div class="row form-group">
            <div class="col-sm-12">
                <input type="text" class="form-control" id="password" name="password" placeholder="Password">
            </div>
        </div>
        <div class="row form-group">
            <div class="col-sm-12">
                <button class="button-purple form-control" onclick="login();return false;">Login</button>
            </div>
        </div>
    </form>
    <script type="text/javascript" th:src="@{/js/jquery-3.1.0.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/dataTables.bootstrap.js}"></script>
    <script type="text/javascript" th:src="@{/js/dataTables.select.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery-ui.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.dataTables.js}"></script>
    <script type="text/javascript" th:src="@{/js/sweetalert2.all.js}"></script>
    <script type="text/javascript" th:src="@{/js/util.js}"></script>
    <script>

        function login() {
            var err = document.getElementById("error");
            err.style.display = "none";
            var user = $("#username").val();
            var pass = $("#password").val();
            var message = "";
            if (user.length <= 0) {
                message = "Please Insert Email Or Phone Number";
                err.style.display = "block";
                err.innerHTML = message;
                showAlert('warning', message);
            } else if (pass.length <= 0) {
                message = "Please Insert Password";
                err.style.display = "block";
                err.innerHTML = message;
                showAlert('warning', message);
            } else {
                var data = {};
                data["username"] = user;
                data["password"] = pass;
                $.ajax({
                    url: '/account/login',
                    type: "POST",
                    dataType: 'json',
                    data: JSON.stringify(data),
                    contentType: 'application/json; charset=utf-8',
                    cache: false,
                    timeout: 600000,
                    beforeSend: function () {
                        showLoader();
                    },
                    success: function (res) {
                        if (res.result === true) {
                            showAlert('success', "Success Login");
                        } else {
                            showAlert('error', "Failed Login : " + res.message);
                        }
                        hideLoader();
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        hideLoader();
                        showAlert('error', "Error : " + textStatus + " : " + errorThrown);
                    }
                });
            }
        }
    </script>
</div>
</body>
</html>
